@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script>
        //建立Promise
        function show(data) {
            const promise = new Promise((resolve, reject) => {
                setTimeout(() => { resolve(data) }, 1000)
            });
            return promise;
        }
        async function aaa(){
            let data = await show("A")
            console.log(data)
        }
        //IIEF 立即執行
        (async() => {
            let data = await show("A")
            console.log(data);
            data = await show("B")
            console.log(data);
            data = await show("C")
            console.log(data);
        })();

        //使用Promise
        // console.log(show("A"));
        // show("A")
        //     .then((data) => {
        //         console.log(data)
        //         return show("B")
        //     })
        //     .then((data) => {
        //         console.log(data)
        //         return show("C")
        //     })
        //     .then((data) => {
        //         console.log(data)
        //     })
        //     .finally(() => {
        //         console.log("END")
        //     });

        // setTimeout(function () {
        //     console.log('A');
        //     setTimeout(function () {
        //         console.log('B');
        //         setTimeout(function () {
        //             console.log('C');
        //         }, 1000);
        //     }, 1000);
        // }, 1000);


        // //建立一個promise物件
        //   const promise = new promise((resolve,reject) => {
        //      //非同步程式碼
        //       const num = math.random() > 0.5 ? 1 : 0;

        //       if (num) {
        //           resolve("成功 > 0.5");
        //       } else {
        //           reject("失敗 < 0.5")
        //       }


        //   });

        //   //使用 Promise
        //   promise
        //       .then((data) => {
        //           console.log(data);
        //       })
        //       .catch((err) => {
        //           console.log(err);
        //       })
        //       .finally(() => {
        //           console.log("END");
        //       })



        // setTimeout(function () {
        //     console.log('A');
        // }, 1000);
        // setTimeout(function () {
        //     console.log('B');
        // }, 1000);
        // setTimeout(function () {
        //     console.log('C');
        // }, 1000);

        // setTimeout(function () {
        //     console.log('A');
        // }, 3000);
        // setTimeout(function () {
        //     console.log('B');
        // }, 2000);
        // setTimeout(function () {
        //     console.log('C');
        // }, 1000);







    </script>
}